.container {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  flex-flow: column nowrap;
  flex: auto;
}

.header-container {
  display: flex;
  height: 20vh;
  width: 100%;
  flex-flow: row wrap;
  background-color: #f4faf6;
  color: #121312;
  justify-content: space-around;
  align-items: center;
}

.header-logo {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.header-schedule {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  justify-content: space-evenly;
  align-items: center;
}

.header-schedule > img {
  display: flex;
  width: 27px;
  height: 27px;
}

.header-schedule-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.header-address {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
}

.header-address > img {
  width: 27px;
  height: 27px;
}

.header-address-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.nav-container {
  display: flex;
  min-height: 5vh;
  width: 100%;
  background-color: #1aa644;
  text-transform: uppercase;
  font-weight: 600;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.page-header {
  display: flex;
  background-color: #191c1a;
  height: 80vh;
  width: 100%;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 2.5em;
}

.content {
  display: flex;
  height: 170vh;
  width: 100%;
}

.cardapio-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cardapio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.footer-container {
  display: flex;
  background-color: #121413;
  height: 39.35vh;
  width: 100%;
}

.footer-Heading {
  color: #fff;
}

.quickLinksUl {
  display: flex;
  list-style: none;
}

.ul-Item {
  color: #6e726e;
}
